body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}
.app {
    position: relative;
    padding-bottom: 50px;
}
.calendar-wrapper:last-child {
    margin-bottom: 0;
}
.calendar-month {
    font-size: 20px;
    text-align: center;
}
.calendar {
    border: 1px solid #dddddd;
    width: 100%;
}
.calendar-day-name {
    border: 1px solid #dddddd;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
}
.calendar-day {
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: #ffffff;
}
.calendar-day-date {
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
.calendar-day.current .calendar-day-date {
    color: #ffffff;
    background-color: darkblue;
}
.calendar-day.before .calendar-day-date {
    color: darkgrey;
}
.btns-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
}
.btns-wrapper button {
    position: absolute;
    top: 0;
    width: 40px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.btns-wrapper button:disabled {
    cursor: not-allowed;
}
.btn-prev {
    left: 0;
}
.btn-next {
    right: 0;
}
.add-event-btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    cursor: pointer;
}


.popup-bg {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}
.popup-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 475px;
    transform: translate(-50%,-50%);
}
.popup-content {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
}
.popup-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    background-repeat: no-repeat;
    cursor: pointer;
}
.popup-title {
    margin-top: 0;
    font-size: 18px;
}
.popup-content input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    padding: 0 15px;
    width: 100%;
    height: 30px;
}

.event {
    position: relative;
    margin-top: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    background-color: #ffffff;
}
.event-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}
.event-date {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}
.event-time {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.event-delete-btn, .event-edit-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: lightgrey;
    cursor: pointer;
}
.event-delete-btn:hover, .event-edit-btn:hover {
    background-color: darkgrey;
}
.event-edit-btn {
    top: 30px;
}
