.slider-wrapper {
    overflow: hidden;
    outline: 1px solid red;
}
.slider {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    transition: all linear 0.5s;
}
.slide {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 20px;
}
